In [9]:
import yfinance as yf
import numpy as np
import pandas as pd

# Downloading data

In [2]:
def download_data(ticket):
        # Descargar datos de yfinance
        data = yf.download(ticket, start="2011-01-01", end="2024-01-01", interval="1mo")
        return data

In [3]:
data = download_data('AAPL')
display(data)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2011-01-01,11.630000,12.450000,11.601429,12.118571,10.245681,10841535600
2011-02-01,12.189286,13.032143,12.061429,12.614643,10.665085,9295949600
2011-03-01,12.695357,12.916786,11.652143,12.446786,10.523166,11306458800
2011-04-01,12.539643,12.683214,11.434286,12.504643,10.572086,9253829200
2011-05-01,12.490714,12.565357,11.765000,12.422500,10.502635,6912060400
...,...,...,...,...,...,...
2023-08-01,196.240005,196.729996,171.960007,187.869995,186.877518,1322439400
2023-09-01,189.490005,189.979996,167.619995,171.210007,170.535538,1337586600
2023-10-01,171.220001,182.339996,165.669998,170.770004,170.097260,1172719600
2023-11-01,171.000000,192.929993,170.119995,189.949997,189.201691,1099586100
2023-12-01,190.330002,199.619995,187.449997,192.529999,192.024185,1062774800

In [4]:
data = download_data('TLT')
display(data)

[*********************100%%**********************]  1 of 1 completed

                 Open        High        Low      Close  Adj Close      Volume
Date
2011-01-01  93.199997   94.309998  90.389999  91.220001  64.419983   223433200
2011-02-01  90.550003   92.519997  88.139999  92.400002  65.253296   200653200
2011-03-01  91.519997   94.940002  89.650002  92.129997  65.291695   213877700
2011-04-01  91.500000   93.919998  89.650002  93.889999  66.753532   148919300
2011-05-01  93.320000   96.760002  93.169998  96.690002  69.033524   145352300
...               ...         ...        ...        ...        ...         ...
2023-08-01  98.839996   98.919998  92.230003  96.639999  93.609116   665296000
2023-09-01  95.800003   95.820000  87.099998  88.690002  86.145226   636380600
2023-10-01  87.820000   88.470001  82.419998  83.580002  81.425346  1161837300
2023-11-01  84.040001   92.699997  84.019997  91.559998  89.482132  1045934600
2023-12-01  91.309998  100.570000  91.129997  98.879997  96.967812   972706200

[156 rows x 6 columns]

In [5]:
data = download_data('VNQ')
display(data)

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2011-01-01  55.759998  57.599998  54.419998  57.169998  33.952366   33458200
2011-02-01  57.509998  59.860001  56.759998  59.860001  35.549915   28594500
2011-03-01  59.830002  60.000000  55.730000  58.470001  34.724407   47023800
2011-04-01  58.779999  62.380001  57.099998  61.830002  36.987312   35259100
2011-05-01  62.130001  62.700001  59.720001  62.680000  37.495792   34298300
...               ...        ...        ...        ...        ...        ...
2023-08-01  85.040001  85.419998  79.040001  82.379997  79.909378   89694300
2023-09-01  82.900002  83.169998  74.849998  75.660004  73.390915   86557300
2023-10-01  75.410004  77.279999  70.610001  72.919998  71.421272  140389100
2023-11-01  73.019997  81.930000  72.540001  81.730003  80.050201  104804000
2023-12-01  81.660004  90.089996  81.419998  88.360001  86.543938  107735600

[156 rows x 6 columns]

In [6]:
data = download_data('GLD')
display(data)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2011-01-01,138.669998,139.000000,127.800003,129.869995,129.869995,353019800
2011-02-01,130.520004,138.199997,129.279999,137.660004,137.660004,238786500
2011-03-01,138.570007,141.279999,135.229996,139.860001,139.860001,306448400
2011-04-01,138.649994,153.029999,137.720001,152.369995,152.369995,303490300
2011-05-01,151.460007,153.610001,142.550003,149.639999,149.639999,382778500
...,...,...,...,...,...,...
2023-08-01,180.850006,181.380005,174.929993,180.020004,180.020004,140381800
2023-09-01,180.800003,181.119995,171.270004,171.449997,171.449997,122794800
2023-10-01,170.229996,186.360001,168.300003,184.089996,184.089996,222519000
2023-11-01,183.910004,189.990005,179.110001,188.750000,188.750000,143756500
2023-12-01,188.809998,193.179993,183.149994,191.169998,191.169998,153596100

In [11]:
weights = np.array([0.25, 0.25, 0.25, 0.25])
monthly_contribution = 100
initial_capital = 1000
target_weights = weights.copy()
values = initial_capital * weights

# Rebalance

In [ ]:
def rebalance():
    total_value = np.sum(values)  # Calcular el valor total de la cartera
    target_value = total_value * target_weights  # Calcular el valor objetivo para cada activo
    for i in range(len(values)):
        # Verificar si algÃºn activo se desvÃ­a mÃ¡s del 5% de su objetivo
        if values[i] > target_value[i] * 1.05 or values[i] < target_value[i] * 0.95:
            values = total_value * target_weights  # Rebalancear los activos
            break

# Monthly update

In [12]:
def monthly_update(price_changes):
        # Actualizar los valores de los activos con los cambios porcentuales de precios
        values *= (1 + price_changes)
        # AÃ±adir las aportaciones mensuales
        values += monthly_contribution * target_weights
        # Rebalancear la cartera si es necesario
        rebalance()

# Simulate